[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "CS_100/CircleTest/googletest"]
	path = CS_100/CircleTest/googletest
	url = https://github.com/google/googletest.git
